# Database Configuration
MONGODB_URI=mongodb+srv://harshgoyal2004:<db_password>@cluster0.jrnt2dh.mongodb.net/podcast-streaming?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=your-secret-key-here

# Server Configuration
PORT=5050
NODE_ENV=development

# File Upload Configuration
MAX_FILE_SIZE=100

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5000